@import 'dependencies';
@import 'icons';

html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: var(--default-line-height);
  min-height: 100%;
}

body {
  --c-body-background: rgba(var(--c-grey-100));

  background: var(--c-body-background);
}

button,
input,
optgroup,
select,
textarea {
  line-height: var(--default-line-height);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:global {
  & #app-root {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }
}
