.Input {
  appearance: none;
  background: rgba(var(--c-white));
  border: 1px solid rgba(var(--c-grey-300));
  border-radius: var(--default-radius);
  box-shadow: none;
  color: rgba(var(--c-black));
  display: block;
  font-size: 1rem;
  padding: 10px;
  width: 100%;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.9;
  }
}
