.Button {
  align-items: center;
  appearance: none;
  background: rgba(var(--c-blue-400));
  border: none;
  border-radius: var(--default-radius);
  box-shadow: none;
  color: rgba(var(--c-white));
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @media (hover: hover) {
    transition: background var(--default-transition);

    &:hover {
      background: rgba(var(--c-blue-400), 0.9);
    }
  }

  .Icon {
    color: rgba(var(--c-grey-700));
    font-size: 1.1rem;

    & + .Text {
      margin: 0 0 0 5px;
    }
  }
}
