.Label {
  align-items: center;
  color: var(--c-grey-700);
  display: block;
  display: inline-flex;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0 0 5px;

  .RequiredMark {
    color: rgba(var(--c-grey-600));
    display: inline-flex;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0 0 0 5px;
    text-transform: lowercase;
  }
}
