@font-face {
  font-display: block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  src: url('@/static/fonts/icons.woff') format('woff');
}

[data-icon] {
  font-family: 'icons' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

:global {
  & [data-icon='user']:before {
    content: '\e900';
  }
}
