@mixin clickableElement() {
  align-items: center;
  appearance: none;
  background: rgba(var(--c-white));
  border: 2px solid rgba(var(--c-grey-600));
  border-radius: var(--default-radius);
  color: rgba(var(--c-grey-700));
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  outline-offset: 3px;
  padding: 8px 10px;
  text-decoration: none;

  @media (hover: hover) {
    transition: background var(--default-transition);

    &:hover {
      background: rgba(var(--c-grey-100));
    }
  }
}
