$smallViewport: 768px;

:root {
  --c-white: 255, 255, 255;
  --c-black: 0, 0, 0;
  --c-grey-100: 248, 248, 248;
  --c-grey-200: 236, 236, 236;
  --c-grey-300: 220, 220, 220;
  --c-grey-400: 190, 190, 190;
  --c-grey-500: 160, 160, 160;
  --c-grey-600: 130, 130, 130;
  --c-grey-700: 100, 100, 100;
  --c-grey-800: 70, 70, 70;
  --c-grey-900: 35, 35, 35;
  --c-red-500: 244, 67, 54;
  --c-aquamarine-400: 68, 165, 137;
  --c-blue-400: 86, 73, 230;
  --default-radius: 8px;
  --default-transition: 0.3s ease-in-out;
  --default-line-height: 1.2;
}
