.Select {
  appearance: none;
  background: rgba(var(--c-white));
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  border: 1px solid rgba(var(--c-grey-300));
  border-radius: var(--default-radius);
  box-shadow: none;
  color: rgba(var(--c-black));
  display: inline-flex;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 10px 25px 10px 15px;
  width: 100%;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.9;
  }
}
